@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition: all linear 0.2s;
}

.avenir {
  font-family: avenir next, avenir, sans-serif;
}

.btn {
  @apply border border-gray-300 bg-transparent px-4 py-2 rounded;
}
